.mat-card {
  margin: 3rem;
}

.mat-form-field {
  width: 35%;
}

table {
  width: 100%;
  text-align: center;
}

.mat-header-cell{
  text-align: center;
}

h3{
  text-align: center;
}

button{
  margin: 1rem;
}




