<h3>Reservar vehículo</h3>
<mat-card>
  <form #form="ngForm" (submit)="onReserva(form)">
      <mat-form-field>
          <input
            name="apellidoNombre"
            ngModel
            #apellidoNombre="ngModel"
            matInput
            [(ngModel)]="apellidoNombreUsuario"
            disabled = "true"
            placeholder="Nombre y apellido cliente: "
          />

      </mat-form-field>
      <br />

      <mat-form-field>
        <input
          name="fechaRetiro"
          ngModel
          #fechaRetiro="ngModel"
          matInput
          placeholder="Ingrese fecha retiro (AAAA-MM-DD-hh:mm)"
        />
      </mat-form-field>
      <br />
      <mat-form-field>
          <input
            name="fechaDevolucion"
            ngModel
            #fechaDevolucion="ngModel"
            matInput
            placeholder="Ingrese fecha devolución (AAAA-MM-DD-hh:mm)"
          />
        </mat-form-field>
        <br />

    <mat-form-field>
      <mat-select
        placeholder="Seleccione Lugar de Devolucion"
        name="lugarDevolucion"
        ngModel
        #lugarDevolucion="ngModel"
        matNativeControl
      >
        <mat-option value="Aeropuerto">Aeropuerto</mat-option>
        <mat-option value="TerminalBuses">Terminal de Buses</mat-option>
        <mat-option value="Hotel">Hotel</mat-option>
      </mat-select>
    </mat-form-field>
    <br />
    <mat-form-field>
      <mat-select
        placeholder="Seleccione Lugar de Retiro"
        name="lugarRetiro"
        ngModel
        #lugarRetiro="ngModel"
        matNativeControl
      >
      <mat-option value="Aeropuerto">Aeropuerto</mat-option>
      <mat-option value="TerminalBuses">Terminal de Buses</mat-option>
      <mat-option value="Hotel">Hotel</mat-option>
      </mat-select>
    </mat-form-field>
    <br />
    <mat-form-field>
        <input
          name="nroDocumento"
          ngModel
          #nroDocumento="ngModel"
          matInput
          placeholder="Ingrese numero de documento"
        />
      </mat-form-field>
    <br />

    <button type="submit" mat-raised-button color="primary">Reservar</button>
    <button mat-raised-button color="primary" routerLink="/menu"> Volver al menú principal </button>
  </form>
</mat-card>
<mat-card *ngIf="hayReserva">
  <p><b>Reserva exitosamente guardada</b></p>
  <p>Código Reserva: {{reservaMongo.codigoReserva}}</p>
  <p>Fecha Reserva: {{reservaMongo.fechaReserva}}</p>
  <p>Costo: {{reservaMongo.costo}}</p>
  <p>Precio de venta: {{reservaMongo.precioVenta}}</p>
</mat-card>
